body {
    margin: 0;
    padding: 0;
    font-family: 'Annie Use Your Telescope', cursive;
}

@font-face {
    font-family: 'youngones';
    /* font-style: normal; */
    font-weight: 400;
    src: url(youngones_RS-Regular.woff);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

a {
    color: #000;
}

    a:hover,
    a:focus {
        color: #000;
        outline: none;
        text-decoration: none;
    }

p,
#addissue {
    font-size: 1.5rem;
}

#arw {
    width: 20px;
}

#login {
    margin-top: 2%;
}

#company, #cmpmenu, #seats .menu {
    margin-top: 8%;
}
#user,
#energy,
#trust,
#strategy,
#execution,
#numbers,
#people {
    margin-top: 50px;
}

    #people .menu {
        margin-top: 125px;
    }

#owners-action {
    margin-top: 2%;
    border-bottom: 1px solid;
}
.adduser-section {
    display: inline-flex;
}
.adduser-section .form-group{
    padding:0 10px;
}
#main-title {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 2.0rem;
}

.h1Header{
    font-size: 2.2rem !important;
}

.center {
    text-align: center;
}

.accordion {
    margin: auto;
    max-width: 650px;
}

.signin-sec, .signup-sec, .help-sec {
    margin: 2rem 0;
    padding-left: 210px;
}

    .signin-sec .lik-btn,
    .signup-sec .lik-btn,
    .help-sec .lik-btn {
        min-height: 75px;
        width: 165px;
    }

input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid;
}

    input[type="text"]:hover,
    input[type="text"]:active,
    input[type="text"]:focus,
    input[type="password"]:hover,
    input[type="password"]:active,
    input[type="password"]:focus {
        outline: none;
    }

button, [type="button"],
[type="submit"] {
    background: #E7E6E6;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

    button, [type="button"]:hover,
    [type="submit"]:hover {
        background: #e3e1e173;
    }

        button:focus {
            outline: none;
        }

.lik-btn {
    font-size: 2rem;
    border: 0;
    background: #fff !important;
    cursor: pointer;
}

    .lik-btn:hover,
    .lik-btn:focus,
    .lik-btn:active,
    a:hover,
    .active,
    .menu-item,
    .btncmp:hover,
    .btniue:hover {
        padding: 0.5rem 2rem 0.5rem 2.5rem;
        border: 2px solid;
        border-radius: 70% 30% 52% 48% / 60% 49% 51% 40%;
        outline: none;
        cursor: pointer;
    }
.lik-btn-login {
        font-size: 2rem;
        border: 0;
        background: #fff !important;
        cursor: default !important; 
}
.img-btn {
    border: 0;
    background: #fff !important;
    cursor: pointer;
}

    .img-btn:hover {
        outline: none;
        cursor: pointer;
    }

    .img-btn img {
        height: 25px;
    }

.form-control {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.collapse {
    display: none;
}

    .collapse.show {
        display: block;
    }

.detail-sec {
    margin-top: 10px;
}

.menu {
    font-size: 2rem;
    float: left;
    max-width: 200px;
    margin-left: 15px;
}

    .menu .lik-btn {
        display: block;
        display: block;
        padding-left: 15px;
        min-height: 60px;
    }

.menuRight{
    font-size: 2rem;
    float: right;
    margin-right: 15px;
}


.user-action {
    text-align: center;
    margin: auto;
}

.company-action {
    text-align: center;
    width: 400px;
    margin: auto;
}

.cmplist p,
.issuelist p {
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
}

.hasvalue {
    margin-left: 65px;
}

.cname .highlight-color {
    margin-left: 24px;
    
}

#companyname {
    font-size: 2rem;
    border-top: none;
    border-right: none;
    border-left: none;
}

    #companyname:hover,
    #companyname:focus {
        outline: none;
    }

.company-action .btn-cdelete,
.owners-action .btn-odelete, .btn-idelete {
    margin-left: 35px;
    font-size: 1.5rem;
    cursor: pointer;
}

.highlight-prime {
    background: #00FDFF;
}

.highlight {
    background: #e3e1e173;
}

.highlight-color {
    color: #00FDFF;
    font-size: 2rem;
}

.highlight-colordiv {
    color: #00FDFF;
    font-size: 2rem;
    display: inline-block;
}

.highlight-badge {
    background: #00FDFF;
    padding: 0 10px;
    margin-left: 25px;
}

.textfr{
    display: block;
    width: 215px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.menu-item {
    font-size: 2rem;
    background: #fff;
}

    .menu-item.b {
        margin: 10px 25px;
    }

.main-menu {
    margin-top: 50px;
}

    .main-menu table {
        margin: auto;
    }

        .main-menu table tr {
            margin: 15px 0;
            height: 150px;
        }

            .main-menu table tr td {
                margin: 5px 15px;
            }

.people-stats,
.energy-Seats {
    /*margin-left: 20%;*/
}

#tblpeople-stats,
#tblstrategy-qa {
    margin: auto;
    font-size: 2rem;
}

    #tblpeople-stats tr {
        height: 100px;
    }

.stats-item {
    margin-bottom: 50px;
    font-size: 2rem;
}

.stats {
    margin-left: 25px;
    cursor: default;
    font-size: 2rem;
}

#addowner {
    border-bottom: 1px solid;
    width: 100px;
}

    #addowner:focus {
        border: none;
        outline: 0;
        border-bottom: 1px solid;
    }

#orgChartContainer {
    width: 80%;
    margin: auto;
}

.energy-data {
    margin-top: 50px;
}

#selectweeks {
    margin-bottom: 5px;
}

#tblenergy,
#tblenergy-data,
#tblseat,
#tblexecution {
    font-size: 2rem;
    margin: auto;
}

    #tblenergy th,
    
    #tblexecution th,
    #tblnumber th {
        padding: 5px 25px;
        border: 1px solid;
        background: #e3e1e173;
    }

    #tblenergy td,
   
    #tblexecution td,
    #tblnumber td {
        padding: 5px 25px;
        border: 1px solid;
    }

    #tblenergy tbody tr,
  
    #tbltrust tbody tr {
        cursor: pointer;
    }

    #tblenergy-data th
    #tblseat th {
        padding: 5px 25px;
    }

    #tblenergy-data td
    #tblseat td {
        padding: 5px 25px;
        border-bottom: 1px solid;
    }

    #tblenergy-data td
    #tblseat td {
        padding: 5px 25px;
        border-bottom: 1px solid;
        text-align:center
    }

    #tblenergy-data .addactivity
    #tblseat .addactivity
     {
        border: 0;
        border-bottom: 1px solid;
    }

#hint-energy {
    width: 420px;
    margin-top: 25px;
}


#tbltrust {
    font-size: 1.75rem;
    margin: auto;
}

    #tbltrust th,
    #tbltrust td {
        padding: 2px 25px;
        border: 1px solid;
    }

#energy-control th,
#trust-control th {
    background: #fff;
    border: none;
}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0 !important;
}

.no-bg {
    background: none !important;
}

tfoot tr td {
    border: 2px solid !important;
}

.tbledit {
    padding: 0 !important;
    margin: 0 !important;
}

    .tbledit input[type="text"] {
        max-width: 35px;
        border: none;
    }

        .tbledit input[type="text"]:hover,
        .tbledit input[type="text"]:active,
        .tbledit input[type="text"]:focus {
            border: none;
            outline: none;
        }

.strategy-que {
    vertical-align: top;
}

    .strategy-que #title {
        margin-left: -30px;
    }

.strategy-ans {
    vertical-align: top;
    height: 190px;
}

#matercus span,
#diffeus span {
    display: block;
}

#small-h {
    height: 65px;
    padding-left: 10px;
    position: relative;
    z-index: 2;
}

#cimg-section {
    top: -135px;
    position: relative;
    z-index: 1;
}

#cimg {
    height: 200px;
    border-radius: 40px;
    display: block;
    top: -55px;
    position: relative;
}

.circular-sb {
    width: 318px;
    padding: 1.25rem 2rem 2rem 2rem;
    border: 2px solid;
    border-radius: 70% 30% 52% 48% / 60% 49% 51% 40%;
    outline: none;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
    position: relative;
    left: -370px;
    top: 125px;
}

    .circular-sb span {
        top: -2px;
        position: relative;
    }

.circle1 {
    border: 2px solid #000;
    position: absolute;
    width: 25px;
    padding: 15px;
    border-radius: 50%;
    right: -12px;
    bottom: 9px;
}

    .circle1:before {
        content: "";
        position: absolute;
        width: 25px;
        padding: 15px;
        border-radius: 50%;
        right: 0px;
        bottom: 0px;
        background: #fff;
    }

.circle2 {
    border: 2px solid #000;
    position: absolute;
    width: 5px;
    padding: 10px 15px;
    border-radius: 50%;
    right: -48px;
    bottom: 5px;
}

#btnchoose {
    margin-top: -35px;
}

#matterans1,
#matterans2,
#matterans3 {
    border: none;
    font-size: 1.75rem;
    height: 32px;
    border-bottom: 1px solid;
    position: relative;
    top: -10px;
}

#tblexecution tr th {
    min-width: 135px;
}

#tblexecution tr th,
#tblexecution tr td,
#tblnumber tr th,
#tblnumber ty td {
    text-align: left;
}

#btnissue {
    margin: 20px 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}


    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
    }



    .popup .content {
        max-height: 30%;
        overflow: auto;
    }

#legend {
    text-align: left;
    margin-bottom: 100px;
}

    #legend span {
        display: inline-table;
        font-size: 2rem;
        padding: 5px 10px;
        margin: 0 -3px;
    }

.g {
    background: #92D050;
}

.y {
    background: #FFFF02;
}

.r {
    background: #FF0000;
}

.editweek {
    max-width: 50px;
    border: none !important;
    background: transparent
}

.srno {
    width: 30px;
}

.whatmatters {
    /*height: 500px;*/
    /*vertical-align: bottom;*/
}

.whatdiff {
    height: 455px;
    vertical-align: middle;
    margin-top: 58px;
    text-align: center;
}

#number-data {
    float: left;
    position: absolute;
    margin-left: 225px;
}

#tblnumber {
    font-size: 1.5rem;
    margin: auto;
}

    #tblnumber input[type="text"] {
        border: none !important;
        max-width: 150px;
    }

.weekv {
    width: 50px;
}

.centerTable{
    margin-left: auto;
    margin-right: auto;
}